{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Производство металлоконструкций любой сложности">
    <meta name="keywords" content="мангалы, ворота, калитки, ограды, навесы, изделия из металла, конструкции из металла, москва московская область">
    <meta name="author" content="ПроМеталл24">

    <title>ПроМеталл24 | Контакты</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'bootstrap/css/modern-business.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'bootstrap/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-72064814-1', 'auto');
      ga('send', 'pageview');

    </script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter44061919 = new Ya.Metrika({
                        id:44061919,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/44061919" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><big>ПроМеталл24</big></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                   <!--  <li>
                        <a href="services.html">Services</a>
                    </li> -->
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><big>Категории</big> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/mangal/"><big>Мангалы</big></a>
                            </li>
                            <li>
                                <a href="/naves/"><big>Навесы</big></a>
                            </li>
                            <li>
                                <a href="/vorota_kalitki/"><big>Ворота</big></a>
                            </li>
                            <li>
                                <a href="/ritual/"><big>Ритуал</big></a>
                            </li>
                            <li>
                                <a href="/pandus/"><big>Пандусы</big></a>
                            </li>
                        </ul>
                    </li>
                    <li class="active">
                        <a href="/contact/"><big>Контакты</big></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <h4 class="navbar-text">Связаться с нами: 7(926)589-94-32, 7(985)732-15-99</h4>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Контакты
                    <!-- <small>Subheading</small> -->
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Главная</a>
                    </li>
                    <li class="active">Контакты</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <h4 class="col-md-offset-3 text-danger">Схема проезда</h4>
        <div class="col-md-8">
            <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ab262e0fcaebb39e469984156cf042b2eebd234f1ccee5c092ffc47ece74e3006&amp;width=700&amp;height=400&amp;lang=ru_RU&amp;scroll=true">
            </script>
        </div>


        <!-- Content Row -->
        <div class="row">
            <div class="col-md-4">
                <h3>Контактные детали <small>Директор</small></h3>
                <!-- <p>
                    3481 Melrose Place<br>Beverly Hills, CA 90210<br>
                </p> -->
                <p><i class="fa fa-phone"></i>
                    <abbr title="Phone">Тел.</abbr>: +7 (926) 589-9432</p>
                <p><i class="fa fa-envelope-o"></i>
                    <abbr title="Email">Почта</abbr>: <a href="mailto:prometall24@mail.ru ">prometall24@mail.ru </a>
                </p>
                <p><i class="fa fa-clock-o"></i>
                    <abbr title="Hours">Время</abbr>: Пн - Вс: с 8:00 до 20:00</p>
                <ul class="list-unstyled list-inline list-social-icons">
                    <!--<li>
                        <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                    </li>-->
                    <li>
                        <a href="https://vk.com/id335612934"><i class="fa fa-vk fa-2x"></i></a>
                    </li>
                    <!--<li>
                        <a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
                    </li>-->
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Контактные детали <small>Менеджер производства</small></h3>
                <!-- <p>
                    3481 Melrose Place<br>Beverly Hills, CA 90210<br>
                </p> -->
                <p><i class="fa fa-phone"></i>
                    <abbr title="Phone">Тел.</abbr>: +7 (903) 527-8872 (Татаринов Сергей)</p>
                <p><i class="fa fa-envelope-o"></i>
                    <abbr title="Email">Почта</abbr>: <a href="mailto:prometall24@mail.ru ">prometall24@mail.ru </a>
                </p>
                <p><i class="fa fa-clock-o"></i>
                    <abbr title="Hours">Время</abbr>: Пн - Вс: с 8:00 до 20:00</p>
                <ul class="list-unstyled list-inline list-social-icons">
                    <!--<li>
                        <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                    </li>-->
                    <li>
                        <a href="https://vk.com/id335612934" target="_blank"><i class="fa fa-vk fa-2x"></i></a>
                    </li>
                    <!--<li>
                        <a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
                    </li>-->
                </ul>
            </div>
        </div>
        <!-- /.row -->

        <hr>


    <!-- /.container -->
    <!-- Footer -->
        <footer>
            <div class="row breadcrumb">
                <div class="col-lg-12">
                    <center>
                        <ul class="list-unstyled list-inline list-social-icons ">
                            <!--<li>
                                <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                            </li>-->
                            <li>
                                <a href="https://vk.com/id335612934" target="_blank"><i class="fa fa-vk fa-2x"></i></a>
                            </li>
                            <!--<li>
                                <a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
                            </li>-->
                        </ul>
                    </center>
                    <p><center>&copy; prometall24.ru 2017</center></p>
                </div>
            </div>
        </footer>
    </div>
    <!-- jQuery -->
    <script src="{% static 'bootstrap/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Contact Form JavaScript -->
    <!-- Do not edit these files! In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
    <script src="{% static 'bootstrap/js/jqBootstrapValidation.js' %}"></script>
    <script src="{% static 'bootstrap/js/contact_me.js' %}"></script>

</body>

</html>