{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Производство мангалов с навесами, простых мангалов, мангалов с коваными изделиями">
    <meta name="keywords" content="купить, мангал, жаровня">
    <meta name="author" content="Прометалл24">

    <title>ПроМеталл24 | {{ mangal_text }}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'bootstrap/css/modern-business.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'bootstrap/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="{% static 'fancybox/jquery.js' %}"></script>

    <!-- подключение CSS файла Fancybox -->
    <link rel="stylesheet" href="{% static 'fancybox/jquery.fancybox.css' %}" type="text/css" media="screen" />

    <!-- Подключение JS файла Fancybox -->
    <script type="text/javascript" src="{% static 'fancybox/jquery.fancybox.pack.js' %}"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-72064814-1', 'auto');
      ga('send', 'pageview');

    </script>

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript">
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter44061919 = new Ya.Metrika({
                        id:44061919,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/watch.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/44061919" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><big>ПроМеталл24</big></a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-left">
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><big>Категории</big> <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="/mangal/"><big>Мангалы</big></a>
                            </li>
                            <li>
                                <a href="/naves/"><big>Навесы</big></a>
                            </li>
                            <li>
                                <a href="/vorota_kalitki/"><big>Ворота</big></a>
                            </li>
                            <li>
                                <a href="/ritual/"><big>Ритуал</big></a>
                            </li>
                            <li>
                                <a href="/pandus/"><big>Пандусы</big></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="/contact/"><big>Контакты</big></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <h4 class="navbar-text">Связаться с нами: 7(903)527-88-72</h4>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Производство мангалов
                </h1>
                <ol class="breadcrumb">
                    <li><a href="/">Главная</a>
                    </li>
                    <li class="active">
                        {{ mangal_text }}
                    </li>
                </ol>
            </div>
        </div>
        <!-- /.row -->
        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 img-portfolio thumb">
                <a class="fancyimage" data-fancybox-group="group" href="{% static 'images/mangal/mangal_1.jpg' %}">
                    <img class="img-responsive img-hover img-thumbnail" src="{% static 'images/mangal/mangal_1.jpg' %}" alt="Мангал-1 / 12 000 р.">
                </a>
                <h3>
                    <center>МГ-1</center>
                </h3>
                <h4><p><center> Стоимость: 12 000 <i class="fa fa-rub "></i></center></p></h4>
            </div>
            <div class="col-md-4 img-portfolio thumb">
                <a class="fancyimage" data-fancybox-group="group" href="{% static 'images/mangal/mangal_6.jpg' %}">
                    <img class="img-responsive img-hover img-thumbnail" src="{% static 'images/mangal/mangal_6.jpg' %}" alt="Мангал-2 / 3 000 р.">
                </a>
                <h3>
                    <center>МГ-2</center>
                </h3>
                <h4><p><center> Стоимость: 3 000 <i class="fa fa-rub "></i></center></p></h4>
            </div>
            <div class="col-md-4 img-portfolio thumb">
                <a class="fancyimage" data-fancybox-group="group" href="{% static 'images/mangal/mangal_3.jpg' %}">
                    <img class="img-responsive img-hover img-thumbnail" src="{% static 'images/mangal/mangal_3.jpg' %}" alt="Мангал-3 / 11 000 р.">
                </a>
                <h3>
                    <center>МГ-3</center>
                </h3>
                <h4><p><center> Стоимость: 11 000 <i class="fa fa-rub "></i></center></p></h4>Мангал           </div>
        </div>
        <!-- /.row -->

        <!-- Projects Row -->
        <div class="row">
            <div class="col-md-4 img-portfolio thumb">
                <a class="fancyimage" data-fancybox-group="group" href="{% static 'images/mangal/mangal_8.jpg' %}">
                    <img class="img-responsive img-hover img-thumbnail" src="{% static 'images/mangal/mangal_8.jpg' %}" alt="Мангал-4 / 3 000 р.">
                </a>
                <h3>
                    <center>МГ-4</center>
                </h3>
                <h4><p><center> Стоимость: 10 000 <i class="fa fa-rub "></i></center></p></h4>
            </div>
            <div class="col-md-4 img-portfolio thumb">
                <a class="fancyimage" data-fancybox-group="group" href="{% static 'images/mangal/mangal_5.jpg' %}">
                    <img class="img-responsive img-hover img-thumbnail" src="{% static 'images/mangal/mangal_5.jpg' %}" alt="Мангал-5 / 2 500 р.">
                </a>
                <h3>
                    <center>МГ-5</center>
                </h3>
                <h4><p><center> Стоимость: 2 500 <i class="fa fa-rub "></i></center></p></h4>
            </div>
            <div class="col-md-4 img-portfolio thumb">
                <a class="fancyimage" data-fancybox-group="group" href="{% static 'images/mangal/mangal_2.jpg' %}">
                    <img class="img-responsive img-hover img-thumbnail" src="{% static 'images/mangal/mangal_2.jpg' %}" alt="Мангал-6 / 7 000 р.">
                </a>
                <h3>
                    <center>МГ-6</center>
                </h3>
                <h4><p><center> Стоимость: 7 000 <i class="fa fa-rub "></i></center></p></h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 img-portfolio thumb">
                <a class="fancyimage" data-fancybox-group="group" href="{% static 'images/mangal/mangal_7.jpg' %}">
                    <img class="img-responsive img-hover img-thumbnail" src="{% static 'images/mangal/mangal_7.jpg' %}" alt="Мангал-8 / 1 000 р.">
                </a>
                <h3>
                   <center>МГ-7</center>
                </h3>
                <h4><p><center> Стоимость: 2 500 <i class="fa fa-rub "></i></center></p></h4>
            </div>
            <div class="col-md-4 img-portfolio thumb">
                <center>
                    <a class="fancyimage" data-fancybox-group="group" href="{% static 'images/mangal/mangal_4.jpg' %}">
                        <img class="img-responsive img-hover img-thumbnail" src="{% static 'images/mangal/mangal_4.jpg' %}" alt="Мангал-7 / 1 000 р.">
                    </a>
                </center>
                <h3>
                    <center>МГ-8</center>
                </h3>

                    <h4><p><center> Стоимость: 1 000 <i class="fa fa-rub "></i></center></p></h4>

            </div>
        </div>
        <hr><hr>

        <footer>
            <div class="row breadcrumb">
                <div class="col-lg-12">
                    <center>
                        <ul class="list-unstyled list-inline list-social-icons ">
                            <!--<li>
                                <a href="#"><i class="fa fa-facebook fa-2x"></i></a>
                            </li>-->
                            <li>
                                <a href="https://vk.com/id335612934" target="_blank"><i class="fa fa-vk fa-2x"></i></a>
                            </li>
                            <!--<li>
                                <a href="#"><i class="fa fa-google-plus fa-2x"></i></a>
                            </li>-->
                        </ul>
                    </center>
                    <p><center>&copy; prometall24.ru 2017</center></p>
                </div>
            </div>
        </footer>
        <!-- Footer -->
    </div>
    <!-- /.container -->


    <script src="{% static 'bootstrap/js/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

    <script type="text/javascript" src="{% static 'fancybox/jquery.fancybox.pack.js' %}"></script>


    <!-- Activate fancybox -->
    <script>
        $(document).ready(function(){
            $(".fancyimage").fancybox({
                beforeShow : function() {
                    var alt = this.element.find('img').attr('alt');

                    this.inner.find('img').attr('alt', alt);

                    this.title = alt;
                }
            });
        });
    </script>

</body>

</html>
